.media{
  
}

header{
    height: 25px;
    margin: 2px;
    color: white;
    background-color:teal;
    border: 2px ridge black;
    text-align: center;
}
.hero-image{
  background-image: url('img/snake.jpg');
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
nav{
  text-align: right;
}

.Nav{
  
    background-color: teal;
    height: 20px;
    margin: 2px;
    border: 2px ridge black;
}

li{
    display: inline;
    padding: 10px;
    color: black;
}
a{
    color:white;
    text-decoration:none;
  }
  a:visited {
    color: cyan;
  }
  
  a:hover {
    background-color: lightgreen;
  }