
header{
    height: 25px;
    margin: 2px;
    color: white;
    background-color:teal;
    border: 2px ridge black;
    text-align: center;
}
.Navigation_bar{
  background-color: teal;
    height: 25px;
    margin: 2px;
    border: 2px ridge black;
    text-align: center;
}
.pages{
  text-align: center;
  display: inline;
  padding: 5px;
}

.Social_links{
  
    background-color: teal;
    height: 45px;
    margin: 2px;
    border: 2px ridge black;
    text-align: right;
}
.email
{
  text-align: left;
  float:left;
}

.social{
    height: 20px;
    display: inline;
    padding: 5px;
    color: black;
}
a{
    color:white;
    text-decoration:none;
}
a:visited {
    color: cyan;
}
  
a:hover {
    background-color: lightgreen;
}









  .row::after {
    content: "";
    clear: top;
    display: table;
  }
  .column {
    float: left;
    width: 30%;
    padding: 5px;

  }

  .photo{
    width: 75%;
    height: 50%;
  }
  .photoDiv{
    display: inline-block;
    padding: 18px;
  }

  .discription{
    display: inline-block;
  }






.contact_body{
  background-image: url(img\snake.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}
.test{
  background-color: violet;
}